behaving==3.1.5
Appium-Python-Client==2.10.1
ckanapi>=4.3
ckantoolkit>=0.0.4
factory-boy
flake8==6.0.0
mock
# update this for ckanext-harvest
pyOpenSSL>=23.0.0
pytest-ckan
selenium<4.10
typer<0.12
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
