{"datashades": {
  "public_tld": "{{ PublicTLD }}",
  "tld": "{{ InternalHostedZoneTLD }}",
  "app_id": "{{ ApplicationId }}",
  "version": "{{ Environment }}",
  "ckan_web": {
    "title": "{{ ApplicationTitle }} | Queensland Government",
    "site_domain": "{{ SiteDomain }}",
    "email_domain": "{{ EmailDomain }}",
    "dsenable": "{{ EnableDataStore }}",
    "endpoint": "/",
    "ckan_app": {
      "name": "{{ ApplicationName }}-{{ Environment }}",
      "shortname": "{{ ApplicationId }}-{{ Environment }}",
      "app_source": {
        "type": "git",
        "url": "{{ CKANSource }}",
        "revision": "{{ CKANRevision }}"
      }
    },
    "plugin_apps": [
{% for plugin in extensions[Environment] %}
      {% if loop.index != 1 %},{% endif %}
      {
        "name": "{{ extensions[Environment][plugin].name }}",
        "shortname": "{{ extensions[Environment][plugin].shortname }}",
        "app_source": {
          "type": "{{ extensions[Environment][plugin].type }}",
          "url": "{{ extensions[Environment][plugin].url }}",
          "revision": "{{ extensions[Environment][plugin].version}}"
        }
      }
{% endfor %}
    ]
  },
  "solr_app": {
    "name": "{{ ApplicationName }}-{{ Environment }}-solr",
    "shortname": "{{ ApplicationId }}-{{ Environment }}-solr",
    "app_source": {
      "type": "archive",
      "url": "{{ SolrSource }}"
    }
  }
}}
