---
AWSTemplateFormatVersion: '2010-09-09'
Description: Creates metadata needed to deploy CKAN Stack extensions.

Parameters:
  Environment:
    Description: Select a stack version.
    Type: String
    Default: STAGING
    AllowedValues:
      - DEV
      - TRAINING
      - STAGING
      - PROD
  ApplicationName:
    Description: Name of the application (ie. GI or Services, etc)
    Type: String
  ApplicationId:
    Description: All-lowercase identifier for the application (eg 'gi', 'services', etc)
    Type: String
    ConstraintDescription: Must contain only lowercase/numeric/hyphen/underscore.
    AllowedPattern: '[-_a-z0-9]*'

Resources:

  PluginListParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_app_names"
      Type: String
      Value: "{{ extensions[Environment] | join(',') }}"

{% for plugin in extensions[Environment] %}
  {{ plugin }}AppNameParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_apps/{{ plugin }}/name"
      Type: String
      Value: "{{ extensions[Environment][plugin].name }}"

  {{ plugin }}AppShortNameParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_apps/{{ plugin }}/shortname"
      Type: String
      Value: "{{ extensions[Environment][plugin].shortname }}"

  {{ plugin }}AppSourceTypeParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_apps/{{ plugin }}/app_source/type"
      Type: String
      Value: git

  {{ plugin }}AppSourceURLParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_apps/{{ plugin }}/app_source/url"
      Type: String
      Value: "{{ extensions[Environment][plugin].url }}"

  {{ plugin }}AppSourceRevisionParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: !Sub "/config/CKAN/${Environment}/app/${ApplicationId}/plugin_apps/{{ plugin }}/app_source/revision"
      Type: String
      Value: "{{ extensions[Environment][plugin].version }}"
{% endfor %}

