---
AWSTemplateFormatVersion: '2010-09-09'
Description: Creates security groups to allow communication between CKAN layers.
Parameters:
  BambooAgentIp:
    Description: CIDR of the local Bamboo agent
    Type: String
  BambooAgentIp2:
    Description: CIDR of the local Bamboo agent
    Type: String
  BambooAgentSecurityGroup:
    Description: Security group containing bamboo agents.
    Type: String
  VPCPeeringCidr:
    Description: CIDR for VPC Peering network
    Type: String
  VPC:
    Type: String
    Description: Name of the VPC
  Environment:
    Type: String
    Description: Platforms environment
  Platform:
    Type: String
    Description: Name of the platform ie GI, Services, Static

Resources:
  # Delete once split HTTP security group template is in use.
  CloudfrontHTTP:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Cloudfront Ranges HTTP Security Group
      VpcId:
        Fn::ImportValue: !Ref VPC
      SecurityGroupIngress:
        # IPv4 Entries
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.52.22.96/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.249.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 180.163.57.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.168.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 111.13.171.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.160.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.252.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.192.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.173.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.230.200.0/21
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.253.240.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 116.129.226.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 130.176.0.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 108.156.0.0/14
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 99.86.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.32.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.253.245.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.224.0.0/14
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 70.132.0.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 15.158.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 111.13.171.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.249.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.238.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.244.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.208.0/20
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.165.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.168.0.0/14
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 65.9.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 130.176.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 58.254.138.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.201.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.206.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.230.208.0/20
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.160.0.0/14
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 116.129.226.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.222.128.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.164.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 111.13.185.32/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 64.252.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.254.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.166.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.230.224.0/19
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 71.152.0.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 216.137.32.0/19
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.172.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.202.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.172.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.52.39.128/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 118.193.97.64/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.164.64.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.154.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.173.0.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.240.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.250.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 180.163.57.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.46.0.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.174.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.82.128.0/19
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.230.0.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.230.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.239.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 130.176.224.0/20
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 36.103.232.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.84.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 143.204.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 144.220.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.52.153.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 119.147.182.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.232.236.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 111.13.185.64/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.164.0.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.172.64.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.182.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 58.254.138.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.253.245.192/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.239.192.0/19
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.68.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.64.0.0/14
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.52.12.64/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 99.84.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.204.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 130.176.192.0/19
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.124.128.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 205.251.200.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.164.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.35.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.174.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.164.128.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.172.0.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 36.103.232.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 119.147.182.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 118.193.97.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.232.236.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 204.246.176.0/20
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 65.8.0.0/16
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 65.9.0.0/17
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 108.138.0.0/15
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 120.253.241.160/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.173.128.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 64.252.64.0/18
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.113.196.64/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.113.203.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.199.127.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.124.199.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.35.130.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.78.247.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.203.133.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.233.177.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 15.207.13.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 15.207.213.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.66.194.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.228.69.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 47.129.82.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 47.129.83.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 47.129.84.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.220.191.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.210.67.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.54.63.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.107.43.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.107.44.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.107.44.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 43.218.56.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 43.218.56.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 43.218.56.64/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 43.218.71.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 99.79.169.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.192.142.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.199.68.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.199.72.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.199.76.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.158.136.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.57.254.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.200.212.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.212.248.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.175.65.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.175.66.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.175.67.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.10.17.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.11.53.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.56.127.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 15.188.184.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.47.139.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.29.40.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.29.40.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.29.40.64/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.29.57.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.229.220.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.230.229.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.230.230.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 54.233.255.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.231.2.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.234.232.224/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.236.169.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.236.48.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 34.195.252.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 34.226.14.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.220.194.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.220.196.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.220.198.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.220.200.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.220.202.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.222.66.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 13.59.250.0/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 18.216.170.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.128.93.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.134.215.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.146.232.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.147.164.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.147.244.0/22
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.15.127.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 3.101.158.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 52.52.191.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 34.216.51.0/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 34.223.12.224/27
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 34.223.80.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.162.63.192/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.167.191.128/26
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.93.168.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.93.170.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 35.93.172.0/23
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.227.178.0/24
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.234.108.128/25
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 44.234.90.252/30
        # IPv6 Entries
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:3000::/36
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f600::/39
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f540::/42
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2409:8c00:2421:300::/56
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f000::/38
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f500::/43
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:ddd::/48
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f800::/37
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f400::/40
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f538::/45
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5380::/41
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:1000::/36
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:2000::/36
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2400:7fc0:500::/40
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:4000::/36
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:fff::/48
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2409:8c00:2421:400::/56
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2404:c2c0:500::/40
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5308::/45
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f534::/46
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f520::/44
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5320::/43
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5310::/44
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:f580::/41
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5340::/42
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:eee::/48
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIpv6: 2600:9000:5200::/40
      Tags:
        - Key: Name
          Value: cloudfront-http
        - Key: AutoUpdate
          Value: true
        - Key: Protocol
          Value: http
  # Delete once split HTTPS security group template is in use.
  CloudfrontHTTPS:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Cloudfront Ranges HTTPS Security Group
      VpcId:
        Fn::ImportValue: !Ref VPC
      SecurityGroupIngress:
        # IPv4 Entries
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.52.22.96/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.249.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 180.163.57.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.168.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 111.13.171.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.160.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.252.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.192.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.173.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.230.200.0/21
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.253.240.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 116.129.226.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 130.176.0.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 108.156.0.0/14
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 99.86.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.32.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.253.245.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.224.0.0/14
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 70.132.0.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 15.158.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 111.13.171.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.249.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.238.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.244.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.208.0/20
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.165.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.168.0.0/14
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 65.9.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 130.176.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 58.254.138.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.201.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.206.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.230.208.0/20
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.160.0.0/14
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 116.129.226.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.222.128.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.164.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 111.13.185.32/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 64.252.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.254.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.166.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.230.224.0/19
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 71.152.0.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 216.137.32.0/19
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.172.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.202.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.172.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.52.39.128/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 118.193.97.64/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.164.64.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.154.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.173.0.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.240.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.250.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 180.163.57.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.46.0.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.174.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.82.128.0/19
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.230.0.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.230.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.239.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 130.176.224.0/20
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 36.103.232.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.84.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 143.204.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 144.220.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.52.153.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 119.147.182.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.232.236.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 111.13.185.64/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.164.0.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.172.64.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.182.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 58.254.138.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.253.245.192/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.239.192.0/19
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.68.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.64.0.0/14
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.52.12.64/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 99.84.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.204.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 130.176.192.0/19
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.124.128.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 205.251.200.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.164.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.35.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.174.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.164.128.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.172.0.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 36.103.232.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 119.147.182.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 118.193.97.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.232.236.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 204.246.176.0/20
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 65.8.0.0/16
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 65.9.0.0/17
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 108.138.0.0/15
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 120.253.241.160/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.173.128.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 64.252.64.0/18
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.113.196.64/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.113.203.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.199.127.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.124.199.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.35.130.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.78.247.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.203.133.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.233.177.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 15.207.13.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 15.207.213.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.66.194.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.228.69.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 47.129.82.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 47.129.83.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 47.129.84.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.220.191.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.210.67.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.54.63.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.107.43.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.107.44.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.107.44.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 43.218.56.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 43.218.56.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 43.218.56.64/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 43.218.71.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 99.79.169.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.192.142.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.199.68.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.199.72.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.199.76.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.158.136.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.57.254.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.200.212.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.212.248.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.175.65.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.175.66.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.175.67.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.10.17.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.11.53.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.56.127.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 15.188.184.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.47.139.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.29.40.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.29.40.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.29.40.64/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.29.57.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.229.220.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.230.229.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.230.230.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 54.233.255.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.231.2.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.234.232.224/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.236.169.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.236.48.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 34.195.252.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 34.226.14.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.220.194.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.220.196.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.220.198.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.220.200.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.220.202.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.222.66.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 13.59.250.0/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 18.216.170.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.128.93.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.134.215.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.146.232.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.147.164.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.147.244.0/22
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.15.127.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 3.101.158.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 52.52.191.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 34.216.51.0/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 34.223.12.224/27
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 34.223.80.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.162.63.192/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.167.191.128/26
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.93.168.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.93.170.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 35.93.172.0/23
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.227.178.0/24
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.234.108.128/25
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 44.234.90.252/30
        # IPv6 Entries
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:3000::/36
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f600::/39
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f540::/42
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2409:8c00:2421:300::/56
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f000::/38
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f500::/43
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:ddd::/48
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f800::/37
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f400::/40
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f538::/45
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5380::/41
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:1000::/36
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:2000::/36
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2400:7fc0:500::/40
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:4000::/36
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:fff::/48
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2409:8c00:2421:400::/56
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2404:c2c0:500::/40
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5308::/45
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f534::/46
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f520::/44
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5320::/43
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5310::/44
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:f580::/41
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5340::/42
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:eee::/48
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIpv6: 2600:9000:5200::/40
      Tags:
        - Key: Name
          Value: cloudfront-https
        - Key: AutoUpdate
          Value: true
        - Key: Protocol
          Value: https

  Management:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Monitoring & Management group
      VpcId:
        Fn::ImportValue: !Ref VPC
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: 22
        ToPort: 22
        CidrIp: !Ref BambooAgentIp
      - IpProtocol: tcp
        FromPort: 22
        ToPort: 22
        CidrIp: !Ref BambooAgentIp2
      - IpProtocol: tcp
        FromPort: 22
        ToPort: 8443
        CidrIp: !Ref VPCPeeringCidr

  AppLoadBalancer:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId:
        Fn::ImportValue: !Ref VPC
      GroupDescription: allow connections from specified CIDR ranges
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          SourceSecurityGroupId: !Ref WebAsg

  AppAsg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId:
        Fn::ImportValue: !Ref VPC
      GroupDescription: allow connections from specified CIDR ranges
      SecurityGroupIngress:
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          SourceSecurityGroupId: !Ref AppLoadBalancer

  WebLoadBalancer:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId:
        Fn::ImportValue: !Ref VPC
      GroupDescription: allow connections from specified CIDR ranges

  WebAsg:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId:
        Fn::ImportValue: !Ref VPC
      GroupDescription: allow connections from specified CIDR ranges
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: 80
        ToPort: 80
        SourceSecurityGroupId: !Ref WebLoadBalancer
      - IpProtocol: tcp
        FromPort: 443
        ToPort: 443
        SourceSecurityGroupId: !Ref WebLoadBalancer

  Database:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupDescription: Security group for RDS DB Instance.
      VpcId:
        Fn::ImportValue: !Ref VPC
      SecurityGroupIngress:
      - IpProtocol: tcp
        FromPort: 5432
        ToPort: 5432 # PostgreSQL
        SourceSecurityGroupId: !Ref AppAsg
        Description: Application access to PostgreSQL
      - IpProtocol: tcp
        FromPort: 8983
        ToPort: 8983 # Solr
        SourceSecurityGroupId: !Ref AppAsg
        Description: Application access to Solr
      - IpProtocol: tcp
        FromPort: 6379
        ToPort: 6379 # Redis
        SourceSecurityGroupId: !Ref AppAsg
        Description: Application access to Redis
      - IpProtocol: tcp
        FromPort: 5432
        ToPort: 5432
        SourceSecurityGroupId: !Ref BambooAgentSecurityGroup
        Description: Bamboo agent access to PostgreSQL

Outputs:
  ManagementSG:
    Description: Shared services management group
    Value: !Ref Management
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "ManagementSG"
  WebAsgSG:
    Description: Web auto-scaling group security group
    Value: !Ref WebAsg
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "WebAsgSG"

  WebLoadBalancerSG:
    Description: Web load balancer security group
    Value: !Ref WebLoadBalancer
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "WebLoadBalancerSG"

  AppAsgSG:
    Description: Application auto-scaling group security group
    Value: !Ref AppAsg
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "AppAsgSG"

  AppLoadBalancerSG:
    Description: App load balancer security group
    Value: !Ref AppLoadBalancer
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "AppLoadBalancerSG"

  DatabaseSG:
    Description: Database security group
    Value: !Ref Database
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "DatabaseSG"

  # Delete once split HTTP security group template is in use.
  CloudfrontHTTPSG:
    Description: Cloudfront HTTP Security Group
    Value: !Ref CloudfrontHTTP
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "CloudfrontHTTPSG"

  # Delete once split HTTPS security group template is in use.
  CloudfrontHTTPSSG:
    Description: Cloudfront HTTPS Security Group
    Value: !Ref CloudfrontHTTPS
    Export:
      Name:
        Fn::Join:
          - ""
          - - !Ref Environment
            - !Ref Platform
            - "CloudfrontHTTPSSG"
