---
name: Tests Staging
run-name: "${{ github.actor }} PR ${{ github.event.pull_request.title }} on ${{ github.ref_name }} verifying Staging environment configuration"
on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        application: [OpenData, Publications]
        python-version: [py3]
        target_environment: [STAGING]
        behave-tag: [smoke, unauthenticated, multi_plugin, app, authenticated]

    name: ${{ matrix.application }} ${{ matrix.target_environment }} ${{ matrix.python-version }} ${{ matrix.behave-tag }} infrastructure build
    runs-on: ubuntu-latest
    env:
      VARS_TYPE: ${{ matrix.application }}
      DEPLOY_ENV: ${{ matrix.target_environment }}
      PYTHON_VERSION: ${{ matrix.python-version }}
      BEHAVE_TAG: ${{ matrix.behave-tag }}

    steps:
      - uses: actions/checkout@v4
        timeout-minutes: 2

      - name: Install Ahoy and dependencies
        run: |
          sudo wget https://github.com/ahoy-cli/ahoy/releases/download/v2.5.0/ahoy-bin-linux-amd64 -O /usr/local/bin/ahoy \
            && sudo chown $USER /usr/local/bin/ahoy \
            && chmod +x /usr/local/bin/ahoy
          sudo wget https://github.com/pygmystack/pygmy/releases/download/v0.14.0/pygmy_0.14.0_linux_amd64.tar.gz -O - | tar xvzf - -C /tmp/ \
            && sudo mv /tmp/pygmy /usr/local/bin/pygmy

      - name: Build
        run: bin/build.sh
        timeout-minutes: 20

      - name: Test lint
        run: bin/test-lint.sh
        timeout-minutes: 30

      - name: Unit tests
        if: ${{ matrix.behave-tag == 'smoke' }}
        run: bin/test.sh
        timeout-minutes: 40

      - name: Test BDD
        run: bin/test-bdd.sh
        timeout-minutes: 60

      - name: Retrieve logs
        if: always()
        run: bin/get-logs.sh
        timeout-minutes: 1

      - name: Retrieve screenshots
        if: always()
        run: bin/process-artifacts.sh
        timeout-minutes: 1

      - name: Upload screenshots
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.application }} ${{ matrix.target_environment }} ${{ matrix.python-version }} ${{ matrix.behave-tag }} screenshots
          path: /tmp/artifacts/behave/screenshots
        timeout-minutes: 1
